/*Fonts*/
@font-face {
    font-family: Abolition; 
    src: url('../fonts/Abolition.ttf') format('truetype'); 
}
body {
    max-width: 100%;
}
.navbar{
    display: flex;
    width: 100%;
    min-height: 7.5vh;
    align-items: center;
    justify-content: center;
    background-color: #181C14;
}
.nav-logo{
    margin-right: 12.5vw;
}
.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.text-logo{
    text-align: center;
    color: #7ECA9C;
    font-weight: bolder;
    font-style: italic;
    font-size: 2vw;
}
.navigation-links {
    position: relative;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navigation-links:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.navigation-links:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.navigation-links:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.navigation-links:hover {
    color: 	#CCFFBD;
    background-color: transparent;
    text-decoration: none;
    transition: 0.4s all ease;
}
.navigation-links:hover {
    color: 	#CCFFBD;
    background-color: transparent;
    text-decoration: none;
    transition: 0.4s all ease;
}
.navigation-links:active {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}
.navigation-links:focus {
    color: #1E5128;
    background-color: transparent;
    text-decoration: none;
}
.visited {
    color: #7ECA9C !important;
    background-color: transparent;
    text-decoration: none;
}
.navigation-links::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3px;
    transform: scaleX(0); 
    height: 10%;
    background-color: #CCFFBD;
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}
.navigation-links:hover::after{ 
    transform: scaleX(1);
    transform-origin: bottom left;
}
.visited::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 10%;
    top: 100%;
    left: 0;
    background-color: #CCFFBD;
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}
#home{
    min-height: 92.5vh;
    background-color: #404440;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.profile-pic{
    max-width: 50%;
    margin-right: 1vw;
}
.home-article{
    flex: 2 1 300px;
    color: #CCFFBD;
    padding: 5vw;
    max-width: 70vw;
}
.profile-name{
    font-family: Abolition;
    text-align: center;
}
.title{
    font-size: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-decoration: underline;
}
p{
    font-size: 60%;
}
#tech{
    min-height: 100vh;
    background-color: #868d86;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}
.tech-header{
    text-align: center;
    color: #1E5128;
    font-size: 3vw;
    font-family: Abolition;
}
.tech-stack{
    background: #ffffffee;
    backdrop-filter: blur(10px);
    min-height: 70vh;
    max-width: 50vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 1vw;
    gap: 0.5vw;
    transform: translate(50%, 0%);
    -webkit-box-shadow: 15px 10px 23px 0px rgba(0,0,0,1);
    -moz-box-shadow: 15px 10px 23px 0px rgba(0,0,0,1);
    box-shadow: 15px 10px 23px 0px rgba(0,0,0,1);
    margin-block: 2vh;
}
.stack{
    background-color: transparent;
    max-width: 75%;  
    height: auto;
    object-fit: fill;
}
#projects{
    min-height: 100vh;
    background-color: #b4c0b4;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}
.projects-header{
    text-align: center;
    color: #1E5128;
    font-size: 3vw;
    font-family: Abolition;
}
.projects-card-space{
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid red;
    min-height: 70vh;
    max-width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 1vw;
    gap: 0.5vw;
    transform: translate(25%, 0%);
}
.projects-card{
    background-color: #000000;
    max-width: 100%;  
    height: auto;
    object-fit: fill;
}
.project-screenshot{
    background-color: white;
    padding: 0.25vw;
}
.project-description-space{
    display: flex;
    flex-direction: column;
}
.project-title{
    color: #FFFF;
}
.project-details{
    color: #FFFF;
    white-space: pre;
}
.project-links{
    border: 2px solid red ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.project-link-btn{
    background-color: #000000;
    border: none;
}
/* Phones */
@media (max-width: 767px) {
    #home {
        padding: 15%;
    }
}
  
/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    #home {
      padding: 5%;
    }
}
  
/* Desktops */
@media (min-width: 1025px) {
    #home {
      padding: 5%;
    }
}